BGP = {
  bgp_rid_subnet = "<x.y.w.z/q>"
  asn            = "<your asn>"
  hc_ip          = "<helth check IP>"
  bypass         = false
}

ipsec_pre_shared_key = "password"

SC = [
  {
    name                 = "<e.g. H1>"
    backup_link          = false
    ipsec_remote_gw      = ["<public IP of IPS1>", "<public IP of IPS1>"]
    overlay_network_id   = ["<e.g. 11>", "<e.g. 12>"]
    route_map_tag        = "<e.g. 1>"
    bgp_peer_ip          = "<BGP RID of FGT Hub"
    priority             = "<priority from 1 to 12>"

  },
  {
    name                 = "<e.g. H2>"
    backup_link          = false
    ipsec_remote_gw      = ["<public IP of IPS1>", "<public IP of IPS1>"]
    overlay_network_id   = ["<e.g. 21>", "<e.g. 22>"]
    route_map_tag        = "<e.g. 2>"
    bgp_peer_ip          = "<BGP RID of FGT Hub"
    priority             = "<priority from 1 to 12>"
  }
]