webfilter_restricted_categories = ["Gambling"]
webfilter_restricted_sites      = ["nytimes.com", "casino.com"]
app_restricted_categories       = ["Social.Media"]
app_critical_apps               = ["Github", "Amazon.AWS", "Microsoft.365", "Salesforce"]
spa_resources                   = ["10.1.0.7/32", "10.0.101.0/24", "10.0.0.0/8"]
bor_resources                   = ["10.4.1.0/24", "10.4.101.0/24"]
ot_resources                    = ["10.4.1.101/32"]
auth_resources                  = ["10.7.0.1/32", "10.7.0.2/32"]
ipam_resources                  = ["10.0.0.0/8", "172.16.0.0/24"]